<app-navbar>
  <div class="container p-5">
    <div class="row">
      <div class="col">
        <div
          class="card mb-4 cursor-select card-usco-menu shadow"
          [routerLink]="['/encuesta-seguimiento']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow"
                src="assets/file-pen-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Encuesta Seguimiento
                </h6>
                <p style="font-size: 15px">
                  Actulización información personal, formación académica y
                  estudios complementarios
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--  <div
          class="card mb-4 cursor-select card-usco-menu shadow"
          [routerLink]="['/politicas']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow"
                src="assets/scale-balanced-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Políticas
                </h6>
                <p style="font-size: 11px">
                  Parametrización de la leyenda que se refleja en la parte
                  posterior del carnet y configuración de la firma digital del
                  rector o rectora a cargo.
                </p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="card mb-4 cursor-select card-usco-menu shadow" [routerLink]="['/superior']">
            <div class="row">
              <div class="col-md-4 text-center">
                <img class="rounded w-100 p-3 shadow" src="assets/binoculars-solid.png" />
              </div>
              <div class="col-md-8 mt-3 text-left p-0">
                <div class="card-block pr-4">
                  <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                    Supervisor
                  </h6>
                  <p style="font-size: 11px;">
                    Control y listado de los perfiles de supervisor de vigilancia, el cual será el encargado de aprobar
                    los ingresos en las horas extemporáneas para el ingreso de la institución.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      <div class="col">
        <div
          class="card mb-4 cursor-select card-usco-menu shadow"
          [routerLink]="['/carnet']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow filter-green"
                src="assets/id-card-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Actualización carnet graduado
                </h6>
                <p style="font-size: 15px">
                  Formulario para actualizar y solicitar el carnet como futuro
                  graduado
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--  <div
          class="card mb-4 cursor-select card-usco-menu shadow"
          [routerLink]="['/reportes']"
        >
          <div class="row">
            <div class="col-md-4 text-center">
              <img
                class="rounded w-100 p-3 shadow"
                src="assets/chart-simple-solid.png"
              />
            </div>
            <div class="col-md-8 mt-3 text-left p-0">
              <div class="card-block pr-4">
                <h6
                  class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                >
                  Reportes
                </h6>
                <p style="font-size: 11px">
                  Consulta y generación de los reportes específico y detallado
                  de ingreso y salida por cada puesto de vigilancia y sedes de
                  la institución.
                </p>
              </div>
            </div>
          </div>
        </div> -->
        <!--  <div class="card mb-4 cursor-select card-usco-menu shadow" [routerLink]="['/puestos']">
            <div class="row">
              <div class="col-md-4 text-center">
                <img class="rounded w-100 p-3 shadow" src="assets/tower-observation-solid.png" />
              </div>
              <div class="col-md-8 mt-3 text-left p-0">
                <div class="card-block pr-4">
                  <h6 class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                    Puesto de vigilancia
                  </h6>
                  <p style="font-size: 11px;">
                    Creación y administración de puestos de vigilancia para cada uno de los tipos peatonal y vehicular.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
        <!--  <div class="card mb-4 cursor-select card-usco-menu shadow">
            <div class="row">
              <div class="col-md-4 text-center">
                <img class="rounded w-100 p-3 shadow" src="assets/id-card-solid.png" [routerLink]="['/']" />
              </div>
              <div class="col-md-8 px-3 mt-4">
                <div class="card-block px-3">
                  <h6 [routerLink]="['/inicio']" class="card-title text-left font-usco-vt font-weight-bold cursor-select">
                    Reportes
                  </h6>
                  <p>
                    <small>Consulta y cargue de imágen de los diferentes estamentos</small>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</app-navbar>
