<h2 mat-dialog-title class="text-white bg-usco-gr-d6">
  <i class="fa-solid fa-circle-info"></i> Formulario distinciones y
  reconocimientos
</h2>
<mat-dialog-content>
  <div class="row mt-4">
    <div class="col pl-4 pr-4">
      <form [formGroup]="formularioMencionReconocimiento">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Institución</mat-label>
              <input
                #input1
                maxlength="255"
                matInput
                type="text"
                formControlName="institucion"
                required
              />
              <mat-hint align="end">{{ input1.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Tipo de reconocimiento</mat-label>
              <input
                #input2
                maxlength="255"
                matInput
                type="text"
                formControlName="tipo"
                required
              />
              <mat-hint align="end">{{ input2.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ambito</mat-label>
              <mat-select formControlName="ambitoCodigo">
                <mat-option
                  *ngFor="let item of listadoAmbitos"
                  [value]="item.codigo"
                  >{{ item.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de inicio (Día/Mes/Año)</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="fecha"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>País</mat-label>
              <mat-select formControlName="paisCodigo">
                <mat-option
                  *ngFor="let item of listadoPaises"
                  [value]="item.codigo"
                  (click)="obtenerDepartamentos(item.codigo)"
                  >{{ item.nombre | uppercase }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="departamentoCodigo">
                <mat-option
                  *ngFor="let item of listadoDepartamento"
                  [value]="item.codigo"
                  (click)="obtenerMunicipios(item.codigo)"
                  >{{ item.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Municipio</mat-label>
              <mat-select formControlName="municipioCodigo">
                <mat-option
                  *ngFor="let item of listadoMunicipio"
                  [value]="item.codigo"
                  >{{ item.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Título</mat-label>
              <input
                required
                #input3
                maxlength="255"
                matInput
                type="text"
                formControlName="titulo"
              />
              <mat-hint align="end">{{ input3.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                #input4
                maxlength="255"
                formControlName="descripcion"
              ></textarea>
              <mat-hint align="end">{{ input4.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-warning mr-2" mat-dialog-close>
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button
    class="btn btn-success"
    (click)="generarMencionReconocimiento()"
    [disabled]="!formularioMencionReconocimiento.valid"
  >
    <i class="fa-solid fa-floppy-disk"></i> Guardar
  </button>
</mat-dialog-actions>
