<h2 mat-dialog-title class="text-white bg-usco-gr-d6">
  <i class="fa-solid fa-circle-info"></i> Formulario estudios en otras
  instituciones
</h2>
<mat-dialog-content>
  <div class="row mt-4">
    <div class="col pl-4 pr-4">
      <form [formGroup]="formularioFormacionAcademica">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre del estudio realizado</mat-label>
              <input
                #input1
                maxlength="255"
                matInput
                type="text"
                formControlName="titulo"
                required
              />
              <mat-hint align="end">{{ input1.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nivel de formación</mat-label>
              <mat-select formControlName="nivelAcademicoCodigo">
                <mat-option
                  *ngFor="let item of listadoNivelFormacion"
                  [value]="item.codigo"
                  >{{ item.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de inicio (Día/Mes/Año)</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="fechaInicio"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de finalizacion (Día/Mes/Año)</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="fechaFin"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>País</mat-label>
              <mat-select formControlName="paisCodigo">
                <mat-option
                  *ngFor="let item of listadoPaises"
                  [value]="item.codigo"
                  (click)="obtenerDepartamentos(item.codigo)"
                  >{{ item.nombre | uppercase }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="departamentoCodigo">
                <mat-option
                  *ngFor="let item of listadoDepartamento"
                  [value]="item.codigo"
                  (click)="obtenerMunicipios(item.codigo)"
                  >{{ item.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Municipio</mat-label>
              <mat-select formControlName="municipioCodigo">
                <mat-option
                  *ngFor="let item of listadoMunicipio"
                  [value]="item.codigo"
                  >{{ item.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Institución en la que se realizó</mat-label>
              <input
                #input2
                maxlength="255"
                matInput
                type="text"
                formControlName="institucion"
                required
              />
              <mat-hint align="end">{{ input2.value.length }}/255</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Título obtenido</mat-label>
              <mat-select formControlName="finalizado">
                <mat-option value="1">SI</mat-option>
                <mat-option value="0">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-warning mr-2" mat-dialog-close>
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button class="btn btn-success" (click)="generarHistorialAcademico()">
    <i class="fa-solid fa-floppy-disk"></i> Guardar
  </button>
</mat-dialog-actions>
