<div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/inicio']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">
        <strong>Expectativas de Capacitación y Formación</strong>
      </h4>
    </div>
    <div class="card-body ls">
      <div class="row">
        <div class="col">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border font-usco-vt">
              Satisfacción de las competencias
            </legend>
            <div class="row mt-2">
              <div class="col text-left">
                <form *ngIf="cuestionario$ | async as cuestionario">
                  <div *ngFor="let pregunta of cuestionario; let i = index">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >{{ i + 1 }}).{{ pregunta.pregunta }}</small
                      >
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-select>
                          <mat-option
                            *ngFor="let respuesta of pregunta.respuestas"
                            [value]="respuesta.codigo"
                          >
                            {{ respuesta.respuesta }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
