<div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/inicio']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">
        <strong>Satisfacción con la Formación</strong>
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <form [formGroup]="formulario">
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Competencias generales
              </legend>
              <table class="table table-hover text-left font-usco-default">
                <thead class="thead-dark">
                  <tr style="font-size: 12px">
                    <th scope="col">Competencias</th>
                    <th scope="col">Escala</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12px" class="text-left">
                  <tr>
                    <th scope="row">
                      1). Exponer las ideas por medios escritos.
                    </th>
                    <mat-radio-group formControlName="codigoRespuesta1">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">2). Exponer oralmente con claridad.</th>
                    <mat-radio-group formControlName="codigoRespuesta2">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      3). Persuadir y convencer a sus interlocutores.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta3">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      4). Identificar y usar símbolos para comunicarse (lenguaje
                      icónico, lenguaje no verbal, etc.).
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta4">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      5). Aceptar las diferencias y trabajar en contextos
                      multiculturales.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta5">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      6). Utilizar herramientas informáticas básicas
                      (procesadores de texto, hojas de cálculo, correo
                      electrónico, etc.).
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta6">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">7). Aprender y mantenerse actualizado.</th>

                    <mat-radio-group formControlName="codigoRespuesta7">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">8). Ser creativo e innovador.</th>

                    <mat-radio-group formControlName="codigoRespuesta8">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      9). Buscar, analizar, administrar y compartir información.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta9">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      10). Crear, investigar y adoptar tecnología.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta10">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      11). Diseñar e implementar soluciones con el apoyo de
                      tecnología.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta11">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      12). Identificar, plantear y resolver problemas.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta12">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      13). Capacidad de abstracción, análisis y síntesis.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta13">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      14). Comprender la realidad que lo rodea.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta14">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">15). Asumir una cultura de convivencia.</th>

                    <mat-radio-group formControlName="codigoRespuesta15">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      16). Asumir responsabilidades y tomar decisiones.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta16">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                </tbody>
              </table>
            </fieldset>
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Competencias laborales generales
              </legend>
              <table class="table table-hover text-left font-usco-default">
                <thead class="thead-dark">
                  <tr style="font-size: 12px">
                    <th scope="col">Competencias</th>
                    <th scope="col">Escala</th>
                  </tr>
                </thead>
                <tbody style="font-size: 12px" class="text-left">
                  <tr>
                    <th scope="row">
                      17). Planificar y utilizar el tiempo de manera efectiva de
                      tal forma que se logran los objetivos planteados.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta17">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      18). Utilizar herramientas informáticas especializadas
                      (paquetes estadísticos, software de diseño, etc.).
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta18">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">19). Formular y ejecutar proyectos.</th>

                    <mat-radio-group formControlName="codigoRespuesta19">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      20). Trabajar en equipo para alcanzar metas comunes.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta20">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      21). Trabajar de manera independiente sin supervisión
                      permanente.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta21">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      22). Aplicar valores y ética profesional en el desempeño
                      laboral.
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta22">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">
                      23). Adaptarse a los cambios (trabajar en contextos nuevos
                      y diversos).
                    </th>

                    <mat-radio-group formControlName="codigoRespuesta23">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                  <tr>
                    <th scope="row">24). Trabajo bajo presión.</th>

                    <mat-radio-group formControlName="codigoRespuesta24">
                      <td *ngFor="let option of options">
                        <mat-radio-button [value]="option.codigo"
                          >{{ option.nombre }}
                        </mat-radio-button>
                      </td>
                    </mat-radio-group>
                  </tr>
                </tbody>
              </table>
            </fieldset>
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Satisfacción de las competencias
              </legend>
              <div class="row">
                <div class="col text-left">
                  <div class="form-group">
                    <small
                      class="font-usco-bl font-usco-default font-weight-bold"
                      >25). De acuerdo a la contribución de la institución que
                      lo formo, ¿Cuál de las competencias considera la más
                      fuerte?</small
                    >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-select formControlName="codigoRespuesta25">
                        <mat-option
                          *ngFor="let respuesta of listadoEscalaDos"
                          [value]="respuesta.codigo"
                          >{{ respuesta.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <div class="form-group">
                    <small
                      class="font-usco-bl font-usco-default font-weight-bold"
                      >26). De acuerdo a la contribución de la institución que
                      lo formo, ¿Cuál de las competencias considera la más
                      débil?</small
                    >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-select formControlName="codigoRespuesta26">
                        <mat-option
                          *ngFor="let respuesta of listadoEscalaDos"
                          [value]="respuesta.codigo"
                          >{{ respuesta.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <div class="form-group">
                    <small
                      class="font-usco-bl font-usco-default font-weight-bold"
                      >27). ¿Cuál de las competencias considera que ha sido la
                      más útil en su trayectoria laboral?</small
                    >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-select formControlName="codigoRespuesta27">
                        <mat-option
                          *ngFor="let respuesta of listadoEscalaDos"
                          [value]="respuesta.codigo"
                          >{{ respuesta.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <div class="form-group">
                    <small
                      class="font-usco-bl font-usco-default font-weight-bold"
                      >28). ¿Cuál de las competencias considera que ha sido la
                      menos útil en su trayectoria laboral?</small
                    >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-select formControlName="codigoRespuesta28">
                        <mat-option
                          *ngFor="let respuesta of listadoEscalaDos"
                          [value]="respuesta.codigo"
                          >{{ respuesta.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row text-right">
        <div class="col">
          <button
            class="btn btn-success"
            (click)="generarFormulario()"
            [disabled]="!formulario.valid"
          >
            <i class="fa-solid fa-floppy-disk"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
