<div class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/inicio']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">Datos personales</h4>
    </div>
    <div class="card-body ls">
      <div class="row">
        <div class="col">
          <form [formGroup]="formDatosPersonales">
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Datos personales
              </legend>
              <div class="row">
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col">
                      <img
                        *ngIf="foto.url != ''"
                        [src]="foto.url"
                        alt="usco"
                        class="img-thumbnail rounded"
                      />
                      <img
                        *ngIf="foto.url == ''"
                        src="assets/precarga-usco.gif"
                        alt="usco"
                        class="img-thumbnail rounded"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row mb-3">
                    <div class="col" *ngIf="(graduado | json) != '[]'">
                      <div class="row text-left">
                        <div class="col">
                          <h6 class="font-usco-gr font-weight-bold">
                            Cambio de foto:
                          </h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <form action="">
                            <label class="file example-full-width">
                              <input
                                type="file"
                                accept="image/png"
                                (change)="change($event)"
                                aria-label="File browser example"
                              />
                              <span class="file-custom text-left">{{
                                nombreFoto
                              }}</span>
                            </label>
                          </form>
                        </div>
                        <div class="col-sm-3" *ngIf="cargaFoto">
                          <button class="btn btn-success" (click)="subirFoto()">
                            <i class="fa-solid fa-floppy-disk"></i> Guardar foto
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col text-left">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Tipo de Indentificación</mat-label>
                        <input
                          matInput
                          formControlName="identificacionTipo"
                          readonly
                        />
                      </mat-form-field>
                    </div>
                    <div class="col text-left">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Indentificación</mat-label>
                        <input
                          matInput
                          formControlName="identificacion"
                          readonly
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-left">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput formControlName="apellido" readonly />
                      </mat-form-field>
                    </div>
                    <div class="col text-left">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput formControlName="nombre" readonly />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="col text-left"
                  *ngIf="listadoDatosPersonales[0]?.genero == 'M'"
                >
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Genero</mat-label>
                    <input matInput value="MASCULINO" readonly />
                  </mat-form-field>
                </div>
                <div
                  class="col text-left"
                  *ngIf="listadoDatosPersonales[0]?.genero == 'F'"
                >
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Genero</mat-label>
                    <input matInput value="FAMENINO" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Estado Civil</mat-label>
                    <input matInput formControlName="estadoCivil" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Grupo Sanguineo</mat-label>
                    <input matInput formControlName="grupoSanguineo" readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>País nacimiento</mat-label>
                    <input matInput formControlName="paisNacimiento" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Departamento nacimiento</mat-label>
                    <input
                      matInput
                      formControlName="departamentoNacimiento"
                      readonly
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Ciudad nacimiento</mat-label>
                    <input
                      matInput
                      formControlName="municipioNacimiento"
                      readonly
                    />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input
                      matInput
                      formControlName="fechaNacimiento"
                      readonly
                    />
                    <mat-hint>Día/Mes/Año</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Datos expedición
              </legend>
              <div class="row mt-3">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>País expedición</mat-label>
                    <input matInput formControlName="paisExpedicion" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Departamento expedición</mat-label>
                    <input
                      matInput
                      formControlName="departamentoExpedicion"
                      readonly
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Ciudad expedición</mat-label>
                    <input
                      matInput
                      formControlName="municipioExpedicion"
                      readonly
                    />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <div class="row">
                    <div class="col">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Fecha de expedición</mat-label>
                        <input
                          matInput
                          formControlName="identificacionFechaExpedicion"
                          readonly
                        />
                        <mat-hint>Día/Mes/Año</mat-hint>
                      </mat-form-field>
                    </div>
                    <div
                      class="col-sm-2"
                      *ngIf="listadoDatosPersonales[0]?.urlAnexoExpedicion"
                    >
                      <button
                        class="btn btn-usco-vt btn-lg mt-1"
                        type="button"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Documento de identidad"
                        (click)="mostrarArchivo()"
                      >
                        <i class="fa-solid fa-file-pdf"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col text-right">
                  <button
                    class="btn btn-usco-vt"
                    (click)="openDialogExpedicion(identificacion)"
                  >
                    <i class="fa-solid fa-pencil"></i> Editar datos de
                    expedición
                  </button>
                </div>
              </div> -->
            </fieldset>
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Datos de contacto
              </legend>
              <div class="row mt-3">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="emailPersonal" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Página</mat-label>
                    <input matInput formControlName="paginaWeb" readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Telefono (fijo)</mat-label>
                    <input matInput formControlName="telefonoFijo" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Telefono (movil)</mat-label>
                    <input matInput formControlName="telefonoMovil" readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-right">
                  <button
                    class="btn btn-usco-vt"
                    (click)="openDialogContacto(identificacion)"
                  >
                    <i class="fa-solid fa-pencil"></i> Editar datos de contacto
                  </button>
                </div>
              </div>
            </fieldset>
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border font-usco-vt">
                Datos de residencia
              </legend>
              <div class="row mt-3">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>País residencia</mat-label>
                    <input matInput formControlName="paisResidencia" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Departamento residencia</mat-label>
                    <input
                      matInput
                      formControlName="departamentoResidencia"
                      readonly
                    />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Ciudad residencia</mat-label>
                    <input
                      matInput
                      formControlName="municipioResidencia"
                      readonly
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Barrio</mat-label>
                    <input matInput formControlName="barrio" readonly />
                  </mat-form-field>
                </div>
                <div class="col text-left">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col text-right">
                  <button
                    class="btn btn-usco-vt"
                    (click)="openDialogResidencia(identificacion)"
                  >
                    <i class="fa-solid fa-pencil"></i> Editar datos de
                    residencia
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
