<div id="content-wrap" class="container mt-3 mb-5 text-center" #target>
  <div class="card rounded-2 p-0 shadow-sm mt-5">
    <div
      class="card-header ml-4 mb-3 mr-4 cursor-select"
      [routerLink]="['/inicio']"
      routerLinkActive="router-link-active"
    >
      <h4 class="font-usco-default">
        <strong>Datos Personales</strong>
      </h4>
    </div>
    <div class="card-body ls">
      <div class="row">
        <div class="col">
          <form class="pl-4 pr-4">
            <div class="row text-left mb-3">
              <div class="col">
                <h5 class="font-usco-vt font-weight-bold">Datos personales</h5>
                <hr class="hr-usco-vt" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="row">
                  <div class="col">
                    <img
                      src="assets/carnet-f.png"
                      alt="usco"
                      class="img-fluid foto-usco-borde"
                    />
                    <button class="btn btn-usco-vt btn-block mt-4">
                      <i class="fa-solid fa-pencil"></i> Editar
                    </button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col text-left">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >Tipo de Indentificación</small
                      >
                      <mat-form-field class="example-full-width">
                        <!-- <mat-label>Tipo de Indentificación</mat-label> -->
                        <input matInput id="apellidoUno" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col text-left">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >Indentificación</small
                      >
                      <mat-form-field class="example-full-width">
                        <!-- <mat-label>Indentificación</mat-label> -->
                        <input matInput id="apellidoUno" required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-left">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >Apellido(s)</small
                      >
                      <mat-form-field class="example-full-width">
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput id="apellidoUno" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col text-left">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >Nombre(s)</small
                      >
                      <mat-form-field class="example-full-width">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput id="apellidoUno" required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-left">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >Genero</small
                      >
                      <mat-form-field class="example-full-width">
                        <mat-label>Genero</mat-label>
                        <input matInput id="apellidoUno" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col text-left">
                    <div class="form-group">
                      <small
                        class="font-usco-bl font-usco-default font-weight-bold"
                        >Estado Civil</small
                      >
                      <mat-form-field class="example-full-width">
                        <mat-label>Estado Civil</mat-label>
                        <input matInput id="apellidoUno" required />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Grupo Sanguineo</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Grupo Sanguineo</mat-label>
                    <input matInput id="apellidoUno" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Fecha de Nacimiento</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput id="apellidoDos" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Pais</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Pais</mat-label>
                    <input matInput id="nombre" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Departamento</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Departamento</mat-label>
                    <input matInput id="apellido" type="text" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Ciudad</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Ciudad</mat-label>
                    <input matInput type="text" id="email" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row text-left mb-3">
              <div class="col">
                <h5 class="font-usco-vt font-weight-bold">Datos de Contacto</h5>
                <hr class="hr-usco-vt" />
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Email</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput id="apellido" type="text" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Página</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Página</mat-label>
                    <input matInput type="text" id="email" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Telefono (fijo)</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Telefono (fijo)</mat-label>
                    <input matInput type="text" id="empresa" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Telefono (movil)</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Telefono (movil)</mat-label>
                    <input matInput id="apellido" type="text" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row text-left mb-3">
              <div class="col">
                <h5 class="font-usco-vt font-weight-bold">
                  Datos de Residencia
                </h5>
                <hr class="hr-usco-vt" />
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >País</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>País</mat-label>
                    <input matInput id="apellido" type="text" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Departamento</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Departamento</mat-label>
                    <input matInput type="text" id="email" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Ciudad</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Ciudad</mat-label>
                    <input matInput type="text" id="empresa" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Barrio</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Barrio</mat-label>
                    <input matInput id="apellido" type="text" required />
                  </mat-form-field>
                </div>
              </div>
              <div class="col text-left">
                <div class="form-group">
                  <small class="font-usco-bl font-usco-default font-weight-bold"
                    >Dirección</small
                  >
                  <mat-form-field class="example-full-width">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text" id="email" required />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-success mr-2"
            data-toggle="tooltip"
            data-placement="top"
            title="guardar"
          >
            <i class="fa-solid fa-floppy-disk"></i> Guardar
          </button>
          <!-- <button
            class="btn btn-warning"
            data-toggle="tooltip"
            data-placement="top"
            title="cancelar"
          >
            <i class="fa-solid fa-xmark"></i> Cancelar
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
